$primary-color: #c076fd;
$secondary-color: #ecbefe;
$background-color: #924eff;
$text-color: #333;

$font-family: 'Arial', sans-serif;
$padding: 10px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-check {
  justify-items: center;
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
